/* Estilos para o texto "Quiz completed!" */
.quiz-completed {
    font-size: 30px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem; 
  }
  
  
  .score {
    background:  #fff;
    font-size: 19px;
    color: #474545;
    margin-bottom: 2rem;
    border: 2px solid #555; 
    border-radius: 10px; 
  }
  
  
 
  footer button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  footer button:hover {
    background-color: #0056b3;
  }
  
 
footer p {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    color: #4b3c3c;
    margin-top: 2rem; 
  }
  
  