#root {
  max-width: 70vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background: linear-gradient(to bottom, #ffffff, #f0efef); /* Gradiente de branco para cinza claro */
}






